<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PI1A5 - Home</title>


    <link rel="stylesheet" href="/style/main.css">      
    <link rel="stylesheet" href="/style/form.css">  
    <link rel="stylesheet" href="/style/dados.css">  
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
  </head>
  <body class="container">

    <!-- Cabeçalho-->
    <header>
      <img class="logo" src="/img/logo.png" alt="Logo">
    </header>
    
    <!--Menu-->
    <nav>
      <div class="menu">
        <a class="botao-menu" id="menu-home" href="/home">
          <img class="img-menu" src="/img/home.png" alt="Opção Home">
          <p class="text-menu">Home</p>
        </a>
        <a class="botao-menu" id="menu-funcionarios" href="/funcionario">
          <img class="img-menu" src="/img/funcionario.png" alt="Opção Funcionários">
          <p class="text-menu">Funcionários</p>
        </a>
        <a class="botao-menu" id="menu-clientes" href="/cliente">
          <img class="img-menu" src="/img/cliente.png" alt="Opção Clientes">
          <p class="text-menu">Clientes</p>
        </a>
        <a class="botao-menu" id="menu-maquinas" href="/maquina">
          <img class="img-menu" src="/img/maquina.png" alt="Opção Máquinas">
          <p class="text-menu">Máquinas</p>
        </a>
        <a class="botao-menu" id="menu-produtos" href="/produto">
          <img class="img-menu" src="/img/produto.png" alt="Opção Produtos">
          <p class="text-menu">Produtos</p>
        </a>
        <a class="botao-menu" id="menu-pedidos" href="/pedido">
          <img class="img-menu" src="/img/pedido.png" alt="Opção Pedidos">
          <p class="text-menu">Pedidos</p>
        </a>
        <a class="botao-menu" id="menu-ordemProducao" href="/ordem_producao">
          <img class="img-menu" src="/img/ordemProducao.png" alt="Opção Ordem de Produção">
          <p class="text-menu">Ordem de Produção</p>
        </a>
        <a class="botao-menu" id="menu-producao" href="/producao">
          <img class="img-menu" src="/img/producao.png" alt="Opção Produção">
          <p class="text-menu">Produção</p>
        </a>
        <a class="botao-menu" id="menu-relatorios" href="/relatorio">
          <img class="img-menu" src="/img/relatório.png" alt="Opção Relatórios">
          <p class="text-menu">Relatórios</p>
        </a>
        <a class="botao-menu" id="menu-informacoes" href="/informacoes">
          <img class="img-menu" src="/img/info.png" alt="Opção Informações">
          <p class="text-menu">Informações</p>
        </a>
        <a class="botao-menu" id="menu-sair" href="/">
          <img class="img-menu" src="/img/sair.png" alt="Opção Sair">
          <p class="text-menu">Sair</p>
        </a>
      </div>
    </nav>

    <!--Corpo do site-->
    <div class="section">
      <!-- <h3>{{data}}</h3> -->
      <h3>Produção</h3>
      <div class="dashboard">
        <h4>{{producao.nome_maquina}}</h4>

        <div class="video_producao">
          <!-- IMAGEM -->
          <!-- width="" height="240" controls="controls" autoplay="autoplay" -->
          <video width="700rem" height="300rem" controls="controls" autoplay="autoplay">
            <source src="#" type="video/mp4">
            <!-- <object data="" width="320" height="240">
              <embed width="320" height="240" src="/img/producao10.MP4">
            </object> -->
          </video>
        </div>

        <!-- BOTÃO FINALIZAR E INICIAR -->
        <div class="menu-consulta">
          <button id="botao-desabilitar" class="botao-form" type="submit">PARAR</button>
        </div>
        <!-- INFORMAÇÕES DA MÁQUINA -->
        <div class="dashboard">
          <div class="dadosMaquina">
            <div class="elementoMaquina">
              <label for="producao">Produção:</label>
              <p class="input">{{producao.quantidade_producao}}</p>
            </div>
            <div class="elementoMaquina">
              <label for="producao">Ciclo:</label>
              <p class="input">{{producao.ciclo_uso_maquina}}</p>
            </div>
            <div class="elementoMaquina">
              <label for="producao">Cavidade:</label>
              <p class="input">{{producao.cavidade_uso_maquina}}</p>
            </div>
            <div class="elementoMaquina">
              <label for="producao">Produtividade:</label>
              <p class="input"> - </p>
            </div>
          </div>

        </div>
        <!-- INFORMAÇÕES DA ORDEM DE PRODUÇÃO -->
        <!-- Tabela com informações sobre a op -->
        <div class="relatorio">
          <table class="info">
            <tr class="thear">
              <th colspan="2">Relatório da Ordem de Produção</th> 
            </tr>
            <tr>
              <th class="th-table">Número da Ordem de Produção:</th>
              <td class="td-table">{{producao.cod_ordemProducao}}</td>
            </tr>
            <tr>
              <th class="th-table">Nome do Produto:</th>
              <td class="td-table">{{producao.nome_produto}} </td>
            </tr>
            <tr>
              <th class="th-table">Quantidade de Dias:</th>
              <td class="td-table">{{producao.quantidade_dias_OrdemProdução}}</td>
            </tr>
            <tr>
              <th class="th-table">Status da Produção:</th>
              <td class="td-table">{{producao.status_producao}}</td>
            </tr>
            <tr>
              <th class="th-table">Número do Pedido:</th>
              <td class="td-table">{{producao.cod_pedido}}</td>
            </tr>
            <tr>
              <th class="th-table">Número do Pedido:</th>
              <td class="td-table">{{producao.cod_pedido}}</td>
            </tr>
            <tr>
              <th class="th-table">Número do Cliente:</th>
              <td class="td-table">{{producao.nome_cliente}}</td>
            </tr>
            <tr>
              <th class="th-table">Quantidade pedida:</th>
              <td class="td-table">{{producao.quantidade_produto}}</td>
            </tr>
          </table>
        </div>
        <!-- INFORMAÇÕES DA PRODUÇÃO -->
          <div>
            <table>
              <tr>
                <th class="th-table">Dia de Início:</th>
                <th class="td-table">{{producao.data_inicio_producao}}</th>
              </tr>
              <tr>
                <th class="th-table">Dia de Finalização:</th>
                <th class="td-table"> - </th>
              </tr>
            </table>
          </div>
      </div>
    </div>

  </body>
</html>