<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PI1A5 - Home</title>


    <link rel="stylesheet" href="/style/main.css">      
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
  </head>
  <body class="container">

    <!-- Cabeçalho-->
    <header>
      <img class="logo" src="/img/logo.png" alt="Logo">
    </header>
    
    <!--Menu-->
    <nav>
      <div class="menu">
        <a class="botao-menu" id="menu-home" href="/home">
          <img class="img-menu" src="/img/home.png" alt="Opção Home">
          <p class="text-menu">Home</p>
        </a>
        <a class="botao-menu" id="menu-funcionarios" href="/funcionario">
          <img class="img-menu" src="/img/funcionario.png" alt="Opção Funcionários">
          <p class="text-menu">Funcionários</p>
        </a>
        <a class="botao-menu" id="menu-clientes" href="/cliente">
          <img class="img-menu" src="/img/cliente.png" alt="Opção Clientes">
          <p class="text-menu">Clientes</p>
        </a>
        <a class="botao-menu" id="menu-maquinas" href="/maquina">
          <img class="img-menu" src="/img/maquina.png" alt="Opção Máquinas">
          <p class="text-menu">Máquinas</p>
        </a>
        <a class="botao-menu" id="menu-produtos" href="/produto">
          <img class="img-menu" src="/img/produto.png" alt="Opção Produtos">
          <p class="text-menu">Produtos</p>
        </a>
        <a class="botao-menu" id="menu-pedidos" href="/pedido">
          <img class="img-menu" src="/img/pedido.png" alt="Opção Pedidos">
          <p class="text-menu">Pedidos</p>
        </a>
        <a class="botao-menu" id="menu-ordemProducao" href="/ordem_producao">
          <img class="img-menu" src="/img/ordemProducao.png" alt="Opção Ordem de Produção">
          <p class="text-menu">Ordem de Produção</p>
        </a>
        <a class="botao-menu" id="menu-producao" href="/producao">
          <img class="img-menu" src="/img/producao.png" alt="Opção Produção">
          <p class="text-menu">Produção</p>
        </a>
        <a class="botao-menu" id="menu-relatorios" href="/relatorio">
          <img class="img-menu" src="/img/relatório.png" alt="Opção Relatórios">
          <p class="text-menu">Relatórios</p>
        </a>
        <a class="botao-menu" id="menu-informacoes" href="/informacoes">
          <img class="img-menu" src="/img/info.png" alt="Opção Informações">
          <p class="text-menu">Informações</p>
        </a>
        <a class="botao-menu" id="menu-sair" href="/">
          <img class="img-menu" src="/img/sair.png" alt="Opção Sair">
          <p class="text-menu">Sair</p>
        </a>
      </div>
    </nav>

    <!--Corpo do site-->
    <section>
      <p>Página de Produção por Máquina</p>
    </section>

  </body>
</html>